<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); -%>
  <body>
    <%- include('partials/header'); -%>
    <main>
      <div class="container">
        <div class="row">
          <h2 class="text-center mt-5">Gallery</h2>
          <div class="col-12 col-md-6 text-center mb-5">
            <img
              src="/images/Linux-Pinguino.svg"
              class="border border-3 border-secondary rounded"
              alt="linux penguin"
              width="300"
            />
          </div>
          <div class="col-12 col-md-6 text-center mb-5">
            <img
              src="/images/Linux-Pinguino.svg"
              class="border border-3 border-secondary rounded"
              alt="linux penguin"
              width="300"
            />
          </div>
          <div class="col-12 col-md-6 text-center mb-5">
            <img
              src="/images/Linux-Pinguino.svg"
              class="border border-3 border-secondary rounded"
              alt="linux penguin"
              width="300"
            />
          </div>
          <div class="col-12 col-md-6 text-center mb-5">
            <img
              src="/images/Linux-Pinguino.svg"
              class="border border-3 border-secondary rounded"
              alt="linux penguin"
              width="300"
            />
          </div>
          <div class="col-12 col-md-6 text-center mb-5">
            <img
              src="/images/Linux-Pinguino.svg"
              class="border border-3 border-secondary rounded"
              alt="linux penguin"
              width="300"
            />
          </div>
          <div class="col-12 col-md-6 text-center mb-5">
            <img
              src="/images/Linux-Pinguino.svg"
              class="border border-3 border-secondary rounded"
              alt="linux penguin"
              width="300"
            />
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer'); -%>
  </body>
</html>
