<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/Linux-Pinguino.svg" alt="smoothie recipe icon" />
    <h4>Picture 1</h4>
    <p>Some description...</p>
  </li>
  <li class="recipe">
    <img src="/Linux-Pinguino.svg" alt="smoothie recipe icon" />
    <h4>Picture 2</h4>
    <p>Some description...</p>
  </li>
  <li class="recipe">
    <img src="/Linux-Pinguino.svg" alt="smoothie recipe icon" />
    <h4>Picture 3</h4>
    <p>Some description...</p>
  </li>
  <li class="recipe">
    <img src="/Linux-Pinguino.svg" alt="smoothie recipe icon" />
    <h4>Picture 4</h4>
    <p>Some description...</p>
  </li>
  <li class="recipe">
    <img src="/Linux-Pinguino.svg" alt="smoothie recipe icon" />
    <h4>Picture 5</h4>
    <p>Some description...</p>
  </li>
  <li class="recipe">
    <img src="/Linux-Pinguino.svg" alt="smoothie recipe icon" />
    <h4>Picture 5</h4>
    <p>Some description...</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
