<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); -%>
  <body>
    <%- include('partials/header'); -%>
    <main>
      <div class="container-fluid">
        <div class="d-flex flex-column align-items-center pt-5">
          <img
            src="/images/Linux-Pinguino.svg"
            alt=""
            class="mb-3 images-home"
            width="200"
          />
          <a href="/gallery" class="btn btn-primary">View Pictures</a>
        </div>
      </div>
    </main>

    <%- include('partials/footer'); -%>
  </body>
</html>
