<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/Linux-Pinguino.svg" alt="" />
  </div>
  <div class="headings">
    <h2>Galery of pictures Linux</h2>
    <h3>Reload Inc.</h3>
    <a href="/gallery" class="btn">View Pictures</a>
  </div>
</header>

<%- include('partials/footer'); -%>
